.c-button {
	display: inline-block;
	background: $color-main;
	color: #fff;
	text-align: center;
	padding: 1em 3em;
	font-size: $font-size-base;
	font-weight: 700;
	text-decoration: none;
	box-shadow: 0 3px 6px rgba(#000, 0.16);
	cursor: pointer;
	transition: all 0.3s ease 0s;
}