.c-mainVisual {
  background: url(../img/news_mainv.png);
  background-size: 2280px;
  background-position: -866px 862px;
  color: #fff;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 60px;
    padding-bottom: 58px;
  }

  &__title {
    max-width: 85%;
  }
  &__schedule {
    max-width: 100%;
  }
}