@charset "UTF-8";
/*// ==========================================================================
// Foundation
// ==========================================================================*/
/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
	TODO will need to remove settings on HTML since we can't namespace it.
	TODO with the prefix, should I group by selector or property for weight savings?
*/
/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}

ul {
  list-style-type: none;
}

input, textarea, select, button {
  border: none;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input::-ms-expand {
  display: none;
}

input[type="radio"] {
  display: none;
}

textarea {
  resize: none;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-weight: 400;
  font-family: "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", meiryo, "MS Pゴシック", "MS PGothic", sans-serif;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.l-inner-wrap {
  max-width: 810px;
  padding-top: 60px;
  margin: 0 auto;
  height: inherit;
}

.l-inner-wrap--story {
  max-width: 810px;
  padding-top: 30px;
  margin: 0 auto;
  height: inherit;
}

@media (max-width: 809px) {
  .l-inner-wrap {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .l-inner-wrap {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@font-face {
  font-family: "futura-pt-condensed";
  src: url("../font/Futura_Cond_Medium.otf") format("otf");
}

/*// ==========================================================================
// Layout
// ==========================================================================*/
.l-header-wrap {
  background: url("../img/top_bg.png");
  padding: 25px 0;
}

.l-main-wrap {
  position: relative;
  background-image: url("../img/top_bg.png");
  margin: auto;
}

/*// ==========================================================================
// Object
// ==========================================================================*/
/*// -----------------------------------------------------------------
// Component
// -----------------------------------------------------------------*/
.c-button {
  display: inline-block;
  background: #C63205;
  color: #fff;
  text-align: center;
  padding: 24px 3%;
  font-size: 16px;
  text-decoration: none;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.c-button:hover {
  opacity: 0.6;
}

.c-button--clear {
  position: absolute;
  bottom: 30px;
  left: 46%;
  display: inline-block;
  border: 5px solid #C63205;
  background: #FFFFFFE6;
  color: #C63205;
  text-align: center;
  padding: 7px 1.7%;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.c-button--clear:hover {
  opacity: 0.6;
}

.is-large {
  position: absolute;
  top: -40px;
  right: 110px;
}

.is-small {
  position: absolute;
  right: 0;
  padding: 13px;
}

.is-story {
  position: absolute;
  right: 0;
  bottom: -60px;
  padding: 11px 15px;
}

.is-comments {
  position: absolute;
  right: 2%;
  bottom: 13px;
  padding: 11px 20px;
}

.is-schedule-br {
  margin-right: 30px;
  background-color: #603813;
}

.is-cmv {
  position: absolute;
  top: -30px;
  right: 240px;
  padding: 13px;
}

.is-story {
  position: absolute;
  top: 260px;
  height: 40px;
  font-size: 14px;
  padding: 9px;
}

.c-comments__contents {
  position: relative;
  padding: 40px 30px;
  text-align: left;
  background-image: url("../img/top_comments.png");
  background-size: cover;
  background-position: center;
  color: #fff;
}

.c-comments__contents--title {
  font-size: 20px;
  margin-bottom: 15px;
}

.c-comments__contents--title > span {
  font-size: 26px;
}

.c-comments__contents--text {
  font-size: 14px;
  max-width: 420px;
}

.c-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;
  background-color: #1A1A1A;
  color: #ffffff;
  font-size: 12px;
}

.c-header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-header-nav__listItem {
  display: inline-block;
  text-align: center;
  margin-right: 30px;
}

.c-header-nav__listItem--ruby {
  font-size: 12px;
}

.c-header-nav__listItem--menu {
  font-size: 22px;
}

.c-header-nav__listItem:hover {
  opacity: 0.6;
}

.c-mainVisual {
  background: url(../img/news_mainv.png);
  background-size: 2280px;
  background-position: -866px 862px;
  color: #fff;
}

.c-mainVisual__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 58px;
}

.c-mainVisual__info {
  font-size: 16.7px;
}

.c-mainVisual__heading {
  font-size: 45px;
}

.c-mainVisual__day {
  font-size: 26px;
}

.c-news__contentslist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.c-news__contentItem {
  text-align: left;
  background-color: #fff;
  height: 260px;
  margin-right: 30px;
  width: calc(34.5% - 30px);
}

.c-news__contentItem--date {
  padding: 15px 15px 0;
  font-size: 12px;
  color: #666666;
}

.c-news__contentItem--title {
  padding: 0 15px;
}

.c-news__contentItem--img {
  height: 50%;
  width: 100%;
}

.c-news__contentItem:nth-child(3) {
  margin-right: 0;
}

.c-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
}

.c-pagination__num {
  margin-right: 9px;
  padding: 5px 10px;
  background-color: #1a1a1a;
  color: #f4d102;
}

.c-pagination__next {
  padding: 3px 5px;
  border: 2px solid #1a1a1a;
}

/* -------------------------------------------------
  c-top-schedule
---------------------------------------------------- */
.c-top-schedule {
  padding-bottom: 60px;
}

.c-top-schedule__container {
  padding: 30px 70px 60px;
  text-align: center;
  background: rgba(255, 255, 255, 0.29);
  margin-bottom: 30px;
}

.c-top-schedule__contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 20px;
}

.c-top-schedule__contents:nth-child(5) {
  margin-bottom: 0;
}

.c-top-schedule__contents--sale {
  text-decoration: underline;
}

.c-top-schedule__contents--sale:hover {
  opacity: 0.6;
}

.c-top-schedule__btnBox {
  text-align: center;
}

.c-top-contents__heading {
  font-size: 43px;
  font-weight: bold;
  margin-bottom: 15px;
}

.c-top-contents__heading--cast {
  font-size: 43px;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: -280px;
}

.c-top-contents__heading--story {
  font-size: 43px;
  font-weight: bold;
}

/*// -----------------------------------------------------------------
// Project
// -----------------------------------------------------------------*/
/* -------------------------------------------------
  p-comments
---------------------------------------------------- */
.p-comments__container {
  text-align: center;
}

.p-comments__subHeading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 41px;
}

.p-comments__cardsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 30px;
}

.p-comments__card {
  height: 250px;
  width: calc(34.5% - 30px);
  margin-right: 30px;
}

.p-comments__card--name {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 10px;
}

.p-comments__card--job {
  font-size: 12px;
  margin-bottom: 15px;
}

.p-comments__card--text {
  font-size: 15px;
}

.p-comments__card--textBox {
  text-align: left;
}

.p-comments__card:nth-child(3n) {
  margin-right: 0;
}

/* -------------------------------------------------
  p-news-index
---------------------------------------------------- */
.p-news-index__container {
  position: relative;
  text-align: center;
}

/* -------------------------------------------------
  p-news
---------------------------------------------------- */
.p-news__container {
  text-align: center;
}

.p-news__contents--titleBox {
  text-align: left;
  margin-top: -7px;
  padding: 13px 30px;
  background-color: #1a1a1a;
  color: #fff;
}

.p-news__contents--day {
  font-size: 12px;
}

.p-news__contents--title {
  font-size: 26px;
}

.p-news__contents--textBox {
  text-align: left;
  padding: 29px;
  margin-bottom: 25px;
  background-color: #FFFFFFE6;
}

.p-news__contents--text--large {
  font-size: 22px;
  font-weight: bold;
}

.p-news__contents--text--mid {
  font-size: 18px;
  font-weight: bold;
}

.p-news__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.p-news__link__prev {
  display: inline-block;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-news__link__next {
  display: inline-block;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-news__link__textBox {
  max-width: 345px;
}

.p-news__link__icon {
  background-color: #1a1a1a;
  color: #f1c201;
  border-radius: 999px;
  padding: 3px 9px;
  height: 32px;
  margin-right: 12px;
}

.p-news__link__icon--next {
  background-color: #1a1a1a;
  color: #f1c201;
  border-radius: 999px;
  padding: 3px 9px;
  height: 32px;
  margin-left: 12px;
}

.p-news__link__day {
  font-size: 12px;
}

.p-news__link__title {
  font-size: 14px;
}

/* -------------------------------------------------
  p-story
---------------------------------------------------- */
.p-story__wrap {
  color: #fff;
  background-color: #000000;
}

.p-story__inner {
  max-width: 810px;
  margin: auto;
}

.p-story__innersecond {
  max-width: 810px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.p-story__topContent {
  padding-top: 58px;
  height: 635px;
  width: 100%;
  background: url(../img/story_bg_01.png);
  background-size: cover;
  background-position: center top;
}

.p-story__topContent--header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 88px;
}

.p-story__topContent__title > h1 {
  font-size: 45px;
}

.p-story__topContent__title > p {
  font-size: 16.7px;
}

.p-story__topContent__day {
  font-size: 26px;
}

.p-story__topContent--bottom--breadclumb {
  font-size: 12px;
  margin-bottom: 27px;
}

.p-story__topContent--bottom--heading {
  display: block;
  margin: auto;
  font-size: 43px;
  width: 86px;
  margin-bottom: 35px;
}

.p-story__topContent--bottom--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.p-story__topContent--bottom--container--text {
  font-size: 12px;
  max-width: 389px;
  max-height: 205px;
  overflow: hidden;
}

.p-story__mainContents--img {
  background: url(../img/story_bg_02.png);
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: 80% -6%;
  height: 325px;
}

.p-story__mainContents--secondImg {
  background: url(../img/story_bg_03.png);
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: 24% 46%;
  height: 325px;
}

.p-story__mainContents--thirdImg {
  background: url(../img/story_bg_04.png);
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: 90% 46%;
  height: 325px;
}

.p-story__mainContents--text {
  padding: 60px 0;
  font-size: 12px;
  max-width: 389px;
  max-height: 285px;
  overflow: hidden;
}

.p-story__mainContents--secondText {
  padding: 60px 0;
  font-size: 12px;
  max-width: 389px;
  max-height: 285px;
  overflow: hidden;
}

.p-story__black {
  color: black;
}

/* -------------------------------------------------
  .p-top-mainvisual
---------------------------------------------------- */
.p-top-mainvisual {
  background: url("../img/top_mainv-pc.png");
  background-position: center;
  background-size: cover;
  max-height: 520px;
  width: 100vw;
  padding: 60px 110px;
  color: #fff;
}

.p-top-mainvisual__container {
  max-width: 920px;
  margin: auto;
}

.p-top-mainvisual__top {
  margin-bottom: 50px;
}

.p-top-mainvisual__top--info {
  font-size: 34px;
}

.p-top-mainvisual__top--title {
  font-size: 90px;
}

.p-top-mainvisual__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.p-top-mainvisual__bottom--day {
  font-size: 35px;
  width: 370px;
}

.p-top-mainvisual__bottom--detail {
  width: 340px;
  font-size: 14px;
}

.p-top-mainvisual__bottom--detail > span {
  font-weight: bold;
}

/* -------------------------------------------------
  .p-top-introduction
---------------------------------------------------- */
.p-top-introduction__container {
  position: relative;
  text-align: center;
  background: rgba(255, 255, 255, 0.29);
  padding: 30px;
}

.p-top-introduction__lead {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 30px;
}

.p-top-introduction__textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  font-size: 12px;
}

.p-top-introduction__text:nth-child(1) {
  margin-right: 30px;
}

.p-top-introduction__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 207px;
  width: 230px;
  background-image: url("../img/top_intro_img.png");
  background-position: 84% 77%;
  -webkit-clip-path: polygon(100% 0, 50% 50%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 50% 50%, 0 100%, 0 0);
}

/* -------------------------------------------------
  p-top-news
---------------------------------------------------- */
.p-top-news__container {
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}

.p-top-news__contents-SubList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.p-top-news__contentsSubItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 88px;
  background-color: #fff;
  margin-right: 30px;
}

.p-top-news__contentsSubItem:nth-child(2) {
  margin-right: 0;
}

.p-top-news__contentsSubItem__textBox {
  padding: 12px;
  text-align: left;
}

.p-top-news__contentsSubItem--img {
  width: 40%;
}

.p-top-news__contentsSubItem--date {
  font-size: 12px;
}

/* -------------------------------------------------
  .p-top-story
---------------------------------------------------- */
.p-top-story__container {
  height: 420px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  background-image: url("../img/top_story.png");
  background-size: cover;
  background-position: center;
}

.p-top-story__box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.p-top-story__text {
  width: 320px;
  font-size: 12px;
  height: 237px;
  overflow: hidden;
}

/* -------------------------------------------------
  p-top-comments
---------------------------------------------------- */
.p-top-comments__container {
  position: relative;
  text-align: center;
  padding-bottom: 250px;
}

.p-top-comments__lead {
  font-size: 24px;
  margin-bottom: 32px;
}

/* -------------------------------------------------
  p-top-cast
---------------------------------------------------- */
.p-top-cast__container {
  position: relative;
  text-align: center;
  height: 593px;
  background-color: #ffffffe6;
}

.p-top-cast__contentsBox {
  margin-top: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-top-cast__content {
  width: calc(34.5% - 30px);
  margin-right: 30px;
}

.p-top-cast__content:nth-child(3) {
  margin-right: 0;
}

.p-top-cast__content--img {
  border-radius: 999px;
  margin-bottom: 38px;
}

.p-top-cast__content--cast {
  margin-bottom: 5px;
}

.p-top-cast__content--name {
  font-weight: bold;
  margin-bottom: 5px;
}

.p-top-cast__content--job {
  margin-bottom: 15px;
  font-size: 12px;
}

.p-top-cast__content--text {
  font-size: 12px;
}

/*// -----------------------------------------------------------------
// Utility
// -----------------------------------------------------------------*/
