/*// ==========================================================================
// Foundation
// ==========================================================================*/
/**
 * YUI 3.5.0 - reset.css (http://developer.yahoo.com/yui/3/cssreset/)
 * http://cssreset.com
 * Copyright 2012 Yahoo! Inc. All rights reserved.
 * http://yuilibrary.com/license/
 */
/*
	TODO will need to remove settings on HTML since we can't namespace it.
	TODO with the prefix, should I group by selector or property for weight savings?
*/
/*
	TODO remove settings on BODY since we can't namespace it.
*/
/*
	TODO test putting a class on HEAD.
		- Fails on FF.
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

/*
	TODO think about hanlding inheritence differently, maybe letting IE6 fail a bit...
*/
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
  font-variant: normal;
}

/* to preserve line-height and selector appearance */
sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/*to enable resizing for IE*/
input,
textarea,
select {
  *font-size: 100%;
}

/*because legend doesn't inherit in IE */
legend {
  color: #000;
}

/* YUI CSS Detection Stamp */
#yui3-css-stamp.cssreset {
  display: none;
}

ul {
  list-style-type: none;
}

input, textarea, select, button {
  border: none;
  border-radius: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

input::-ms-expand {
  display: none;
}

input[type="radio"] {
  display: none;
}

textarea {
  resize: none;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.l-inner-wrap {
  max-width: 810px;
  padding-top: 60px;
  margin: 0 auto;
  height: inherit;
}

@media (max-width: 809px) {
  .l-inner-wrap {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 767px) {
  .l-inner-wrap {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@font-face {
  font-family: "futura-pt-condensed";
  src: url("../font/Futura_Cond_Medium.otf") format("otf");
}

/*// ==========================================================================
// Layout
// ==========================================================================*/
.l-header-wrap {
  background: url("../img/top_bg.png");
  padding: 25px 0;
}

.l-main-wrap {
  background-image: url("../img/top_bg.png");
  margin: auto;
}

/*// ==========================================================================
// Object
// ==========================================================================*/
/*// -----------------------------------------------------------------
// Component
// -----------------------------------------------------------------*/
.c-button {
  display: inline-block;
  background: #3f51b5;
  color: #fff;
  text-align: center;
  padding: 1em 3em;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.c-header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-header-nav__listItem {
  display: inline-block;
  text-align: center;
  margin-right: 30px;
}

.c-header-nav__listItem--ruby {
  font-size: 12px;
}

.c-header-nav__listItem--menu {
  font-size: 22px;
}

.c-header-nav__listItem:hover {
  opacity: 0.6;
}

.c-top-contents__heading {
  font-size: 43px;
  font-weight: bold;
  margin-bottom: 15px;
}

/*// -----------------------------------------------------------------
// Project
// -----------------------------------------------------------------*/
/* -------------------------------------------------
  .p-top-mainvisual
---------------------------------------------------- */
.p-top-mainvisual {
  background: url("../img/top_mainv-pc.png");
  background-position: center;
  background-size: cover;
  height: 520px;
  width: 100vw;
  padding: 60px 110px;
  color: #fff;
}

.p-top-mainvisual__container {
  max-width: 920px;
  margin: auto;
}

.p-top-mainvisual__top {
  margin-bottom: 50px;
}

.p-top-mainvisual__top--info {
  font-size: 34px;
}

.p-top-mainvisual__top--title {
  font-size: 90px;
}

.p-top-mainvisual__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.p-top-mainvisual__bottom--day {
  font-size: 35px;
  width: 370px;
}

.p-top-mainvisual__bottom--detail {
  width: 340px;
  font-size: 14px;
}

.p-top-mainvisual__bottom--detail > span {
  font-weight: bold;
}

/* -------------------------------------------------
  .p-top-introduction
---------------------------------------------------- */
.p-top-introduction__container {
  position: relative;
  text-align: center;
  background: rgba(255, 255, 255, 0.29);
  padding: 30px;
}

.p-top-introduction__lead {
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 30px;
}

.p-top-introduction__textBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  font-size: 12px;
}

.p-top-introduction__text:nth-child(1) {
  margin-right: 30px;
}

.p-top-introduction__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 207px;
  width: 230px;
  background-image: url("../img/top_intro_img.png");
  background-position: 84% 77%;
  -webkit-clip-path: polygon(100% 0, 50% 50%, 0 100%, 0 0);
  clip-path: polygon(100% 0, 50% 50%, 0 100%, 0 0);
}

/* -------------------------------------------------
  p-top-news
---------------------------------------------------- */
.p-top-news__container {
  text-align: center;
  margin-bottom: 60px;
}

/* -------------------------------------------------
  .p-top-story
---------------------------------------------------- */
.p-top-story__container {
  height: 420px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  background-image: url("../img/top_story.png");
  background-size: cover;
  background-position: center;
}

.p-top-story__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.p-top-story__text {
  width: 320px;
  font-size: 12px;
  height: 250px;
  overflow: hidden;
}

/*// -----------------------------------------------------------------
// Utility
// -----------------------------------------------------------------*/
