/* -------------------------------------------------
  .p-top-mainvisual
---------------------------------------------------- */
.p-top-mainvisual {
  position: relative;
  background: url('../img/top_mainv.png');
  background-position: center;
  background-size: cover;
  width: 100vw;
  padding: 105px 0;
  color: #fff;

  &__container {
    position: relative;
    margin: auto;
  }

  &__top {
    margin-bottom: 50px;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;

    &--schedule {
      width: 41%;
      height: 98%;
    }

    &--detail {
      width: 41%;

      > span {
        font-weight: bold;
      }
    }
  }
  @include mq(tab) {
    &__top {
      margin-bottom: 50px;
      &--info {
        font-size: 28px;
      }
      &--title {
        font-size: 48px;
      }
    }

    &__bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;

      &--detail {
        width: 340px;
        > span {
          font-weight: bold;
        }
      }
    }
  }
  @include mq(sp) {
    &__top {
      margin-bottom: 30px;
    }

    &__bottom {
      display: block;
      text-align: center;

      &--schedule {
        width: 55%;
        margin-bottom: 20px;
      }

      &--detail {
        margin: auto;

        > span {
          font-weight: bold;
        }
      }
    }
  }
}
/* -------------------------------------------------
  .p-top-introduction
---------------------------------------------------- */
.p-top-introduction {
  &__container {
    position: relative;
    text-align: center;
    background: rgba(255, 255, 255, 0.29);
    padding: 30px;
  }

  &__lead {
    font-size: 28px;
    margin-bottom: 30px;
  }

  &__textBox {
    display: flex;
    text-align: left;
  }

  &__text {
    &:nth-child(1) {
      margin-right: 30px;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 207px;
    width: 230px;
    background-image: url('../img/top_intro_img.png');
    background-position: 84% 77%;
    clip-path: polygon(100% 0, 50% 50%, 0 100%, 0 0);
  }

  @include mq(sp) {
    &__lead {
      font-size: 20px;
    }

    &__textBox {
      display: block;
      text-align: left;
    }

    &__img {
      position: absolute;
      top: 0;
      left: 0;
      height: 120px;
      width: 120px;
      background-image: url('../img/top_intro_img.png');
      background-position: 72% 52%;
      clip-path: polygon(100% 0, 50% 50%, 0 100%, 0 0);
    }
  }
}
/* -------------------------------------------------
  p-top-news
---------------------------------------------------- */
.p-top-news {
  &__container {
    padding-top: 60px;
    position: relative;
    text-align: center;
    margin-bottom: 60px;
  }

  &__contents-SubList {
    display: flex;
    justify-content: space-between;
  }

  &__contentsSubItem {
    display: flex;
    height: 88px;
    background-color: #fff;
    margin-right: 30px;
    width: calc(100% - 30px);

    @include mq(pc) {
      &:nth-child(2) {
        margin-right: 0;
      }
    }

    &__textBox {
      padding: 12px;
      text-align: left;
    }

    &--img {
      width: 40%;
    }

    &--date {
      font-size: 12px;
    }
  }

  @include mq(sp) {
    &__contents-SubList {
      display: block;
      justify-content: center;
      margin: auto;
      padding-bottom: 60px;
    }
    &__contentsSubItem {
      display: block;
      background-color: #fff;
      height: auto;
      margin: auto;
      width: 80%;
      margin-bottom: 25px;

      &--img {
        width: 100%;
      }

      &--title {
        font-size: 20px;
        font-weight: bold;
      }
    }
  }
}
/* -------------------------------------------------
  .p-top-story
---------------------------------------------------- */
.p-top-story {
  &__container {
    position: relative;
    height: 480px;
    width: 100%;
    text-align: center;
    color: #ffffff;
    background-image: url('../img/story.png');
    background-size: cover;
    background-position: center;
  }

  &__box {
    position: relative;
    display: flex;
    justify-content: flex-end;
  }

  &__text {
    width: 320px;
    height: 260px;
    overflow: hidden;
  }

  @include mq(sp) {
    &__box {
      position: relative;
      display: flex;
      justify-content: center;
    }

    &__text {
      margin-top: 20px;
      width: 100%;
    }
  }
}
/* -------------------------------------------------
  p-top-comments
---------------------------------------------------- */
.p-top-comments {
  &__container {
    position: relative;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 330px;
  }

  &__lead {
    font-size: 20px;
    margin-bottom: 32px;
  }
}
/* -------------------------------------------------
  p-top-cast
---------------------------------------------------- */
.p-top-cast {
  &__container {
    padding-top: 60px;
    position: relative;
    text-align: center;
    height: 593px;
    background-color: #ffffffe6;
  }

  &__contentsBox {
    margin-top: 17px;
    display: flex;
  }

  &__content {
    width: calc(34.5% - 30px);
    margin-right: 30px;

    &:nth-child(3) {
      margin-right: 0;
    }

    &--img {
      width: 200px;
      height: 200px;
      border-radius: 999px;
      margin-bottom: 20px;
    }

    &--cast {
      margin-bottom: 5px;
    }

    &--name {
      font-weight: bold;
      margin-bottom: 5px;
    }

    &--job {
      margin-bottom: 15px;
      font-size: 12px;
    }

    &--text {
      font-size: 12px;
    }
  }
  @include mq(sp) {
    &__container {
      padding-top: 60px;
      position: relative;
      text-align: center;
      height: 1450px;
      background-color: #ffffffe6;
    }

    &__contentsBox {
      margin-top: 55px;
      display: block;
    }

    &__content {
      width: 100%;
      margin-bottom: 30px;
      &--img {
        width: 200px;
        height: 200px;
      }

      &--cast {
        margin-bottom: 5px;
      }

      &--name {
        font-weight: bold;
        font-size: 24px;
      }

      &--job {
        margin-bottom: 15px;
        font-size: 12px;
      }

      &--text {
        font-size: 12px;
      }
    }
  }
}
