<!-- PC版 -->
<div class="c-comments__contents hidden-sp">
  <h2 class="c-comments__contents--title">京都佛立ミュージアム館長 <span>長松清潤</span></h2>
  <p class="c-comments__contents--text">
    「文に非ず、其の義に非ず、唯だ一部の意のみ。」
    まずこの聖句が浮かんだ。境界線に立つ人類。超越する意志。小池博史氏の心象が生み出したアバターが乱舞しながら深層意識に波紋を起こしてゆく。
  </p>
  <a class="c-button is-comments" href="../comments/comments.html">もっと見る</a>
</div>
<!-- SP版 -->
<div class="c-comments__contents-sp hidden-tab hidden-pc">
  <img src="../src/img/top_comments.png" alt="住職" />
  <div class="c-comments__contents-sp__container">
    <div class="c-comments__contents-sp__title">
      <p>京都佛立ミュージアム館長</p>
      <span>長松清潤 </span>
    </div>
    <p class="c-comments__contents-sp__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ea perspiciatis inventore
      commodi sapiente, repellat consequuntur eveniet recusandae sed suscipit veniam culpa
      temporibus nisi debitis officia, deserunt ex aperiam itaque! Lorem ipsum dolor sit amet
      consectetur adipisicing elit. Voluptatibus, ratione fugit earum atque facilis maxime
      accusantium, fuga quidem vel quis id cupiditate quas. Quisquam ab similique in quia suscipit
      error!
    </p>
    <a class="c-button" href="../comments/comments.html">もっと見る</a>
  </div>
</div>
