<div class="c-comments__contents">
  <h2 class="c-comments__contents--title">
    京都佛立ミュージアム館長 <span>長松清潤</span>
  </h2>
  <p class="c-comments__contents--text">
    「文に非ず、其の義に非ず、唯だ一部の意のみ。」
    まずこの聖句が浮かんだ。境界線に立つ人類。超越する意志。小池博史氏の心象が生み出したアバターが乱舞しながら深層意識に波紋を起こしてゆく。
  </p>
  <a class="c-button is-comments">もっと見る</a>
</div>