<div class="c-mainVisual">
  <div class="l-inner-wrap">
    <div class="c-mainVisual__wrap">
      <div class="c-mainVisual__title-container">
        <img class="c-mainVisual__title" src="../src/img/top_title.png">
      </div>
      <div class="c-mainVisual__schedule-container">
        <img class="c-mainVisual__schedule" src="../src/img/top_schedule.png">
      </div>
    </div>
  </div>
</div>