<div class="c-mainVisual">
  <div class="l-inner-wrap">
    <div class="c-mainVisual__wrap">
      <div class="c-mainVisual__title-container">
        <p class="c-mainVisual__info">世界最長の叙事詩をピーター・ブルック以来の全編舞台化</p>
        <h1 class="c-mainVisual__heading">完全版マハーバーラタ</h1>
      </div>
      <div class="c-mainVisual__day-container">
        <p class="c-mainVisual__day">
          2020年7月4日〜7日<br />
          なかのZERO大ホール
        </p>
      </div>
    </div>
  </div>
</div>