<div class="c-news__contents">
  <ul class="c-news__contentslist">
    <li class="c-news__contentItem">
      <img class="c-news__contentItem--img" src="<%= path %>/src/img/top_news_01.png" alt="" />
      <p class="c-news__contentItem--date">2019.9.30</p>
      <p class="c-news__contentItem--title">
        「完全版マハーバーラタ」2020年7月・東京公演！！
      </p>
    </li>
    <li class="c-news__contentItem">
      <img class="c-news__contentItem--img" src="<%= path %>/src/img/top_news_02.png" alt="" />
      <p class="c-news__contentItem--date">2019.9.30</p>
      <p class="c-news__contentItem--title">
        ニュースのタイトルが入ります。ニュースのタイトルが入ります。
      </p>
    </li>
    <li class="c-news__contentItem">
      <img class="c-news__contentItem--img" src="<%= path %>/src/img/top_news_03.png" alt="" />
      <p class="c-news__contentItem--date">2019.9.30</p>
      <p class="c-news__contentItem--title">
        ニュースのタイトルが入ります。ニュースのタイトルが入ります。
      </p>
    </li>
  </ul>
</div>
