<section>
  <div class="c-top-schedule">
    <div class="l-inner-wrap">
      <div class="c-top-schedule__container">
        <h1 class="c-top-contents__heading">SCHEDULE</h1>
        <div class="c-top-schedule__contents">
          <p class="c-top-schedule__contents--date">2020.07.04</p>
          <p class="c-top-schedule__contents--time">17:00開演</p>
          <p class="c-top-schedule__contents--venue">中野ZERO大ホール</p>
          <a class="c-top-schedule__contents--sale">チケット予約受付中</a>
        </div>
        <div class="c-top-schedule__contents">
          <p class="c-top-schedule__contents--date">2020.07.04</p>
          <p class="c-top-schedule__contents--time">17:00開演</p>
          <p class="c-top-schedule__contents--venue">中野ZERO大ホール</p>
          <a class="c-top-schedule__contents--sale">チケット予約受付中</a>
        </div>
        <div class="c-top-schedule__contents">
          <p class="c-top-schedule__contents--date">2020.07.04</p>
          <p class="c-top-schedule__contents--time">17:00開演</p>
          <p class="c-top-schedule__contents--venue">中野ZERO大ホール</p>
          <a class="c-top-schedule__contents--sale">チケット予約受付中</a>
        </div>
        <div class="c-top-schedule__contents">
          <p class="c-top-schedule__contents--date">2020.07.04</p>
          <p class="c-top-schedule__contents--time">17:00開演</p>
          <p class="c-top-schedule__contents--venue">中野ZERO大ホール</p>
          <a class="c-top-schedule__contents--sale">チケット予約受付中</a>
        </div>
      </div>
    </div>
    <div class="c-top-schedule__btnBox">
      <a class="c-button is-schedule-br">お問い合わせはこちら</a>
      <a class="c-button">チケット予約サイトへ</a>
    </div>
  </div>
</section>
